# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# --- Web Dev & Security ---
node_modules/
dist/
build/
.env
*.log

# --- JetBrains (Rider/PyCharm) ---
.idea/
*.user
*.suo

# --- OS Metadata ---
.DS_Store
Thumbs.db

# --- Original Jekyll/Ruby Settings ---
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
/vendor
Gemfile.lock

# Specific ignore for GitHub Pages
# GitHub Pages will always use its own deployed version of pages-gem 
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is
# counterproductive to check this file into the repository.
# Details at https://github.com/github/pages-gem/issues/768

